<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Event Manager</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Event Manager</h1>
    <hr />
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td>{{ event[1] }}</td>
          <td>{{ event[2] }}</td>
          <td>{{ event[3] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
